<div class="w-full h-full space-y-2 pt-2 overflow-y-auto bg-gradient-to-r from-gray-600 via-purple-700 to-gray-600">

    <!-- project -->
    <div class="w-full bg-amp">
        <div class="w-full indent-pointing-right bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="justify-self-end w-3/5 py-2 pr-2 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- project -->
    <div class="w-full bg-bag-of-words-graph">
        <div class="w-full indent-pointing-left bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="w-3/5 py-2 pl-4 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- project -->
    <div class="w-full bg-amp">
        <div class="w-full indent-pointing-right bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="justify-self-end w-3/5 py-2 pr-2 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- project -->
    <div class="w-full bg-bag-of-words-graph">
        <div class="w-full indent-pointing-left bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="w-3/5 py-2 pl-4 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- project -->
    <div class="w-full bg-amp">
        <div class="w-full indent-pointing-right bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="justify-self-end w-3/5 py-2 pr-2 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- project -->
    <div class="w-full bg-bag-of-words-graph">
        <div class="w-full indent-pointing-left bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="w-3/5 py-2 pl-4 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full py-1 text-center bg-black">
        <span class="text-white text-3xl font-bold font-mono underline">
            <a class="hover:text-black hover:bg-white hover:px-2 hover:rounded-lg" href="https://github.com/sKutai/" target="_blank" rel="noopener noreferrer">Check out my code on GitHub!</a>
        </span>
    </div>

</div>