<div class="w-full h-full space-y-2 pt-2 overflow-y-auto bg-gradient-to-r from-gray-600 via-purple-700 to-gray-600">

    <!-- project -->
    <div class="flex flex-row w-full fake-cat">
        <div class="fex flex-col w-full indent-pointing-right bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="justify-self-end w-3/5 py-4 pr-2 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        <span class="underline text-2xl"> Fake Cats </span> <br>
                        The mission of this assignment was to generate fake cat photos. The project was done with
                        tensorflow in python. The method that was used to generate the photos was a convolutional Neural
                        Network. The network can be used to accept many kinds of similar images and then generate new
                        versions of the same thing that could possibly fool a human.
                    </span>
                </div>
            </div>
        </div>

        <div class="flex inset-y-0 px-2 items-center justify-center bg-black">
            <a target="_blank" href="https://github.com/SKutai/Cats-Pictures" rel="noopener noreferrer">
                <img src="../../assets/githublogo.png" alt="github Logo" class="w-10">
            </a>
        </div>

    </div>

    <!-- project -->
    <div class="w-full bg-bag-of-words-graph">
        <div class="w-full indent-pointing-left bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="w-3/5 py-4 pl-4 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- project -->
    <div class="w-full bg-amp">
        <div class="w-full indent-pointing-right bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="justify-self-end w-3/5 py-4 pr-2 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- project -->
    <div class="w-full bg-bag-of-words-graph">
        <div class="w-full indent-pointing-left bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="w-3/5 py-4 pl-4 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- project -->
    <div class="w-full bg-amp">
        <div class="w-full indent-pointing-right bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="justify-self-end w-3/5 py-4 pr-2 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- project -->
    <div class="w-full bg-bag-of-words-graph">
        <div class="w-full indent-pointing-left bg-gray-900">
            <div class="grid w-full h-full">
                <!-- description -->
                <div class="w-3/5 py-4 pl-4 flex items-center">
                    <span class="font-bold font-mono text-xl text-white">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit
                        distinctio
                        mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit!
                        Maxime
                        eligendi assumenda atque quis culpa? <br>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <a class="flex flex-row w-full py-2 items-center justify-center bg-black" target="_blank"
        href="https://github.com/sKutai/" rel="noopener noreferrer">
        <img src="../../assets/githublogo.png" alt="github Logo" class="h-10 pr-2 ">
        <span class="text-white text-4xl font-bold font-mono pt-1">
            SKutai
        </span>
    </a>

</div>