<!-- background and border -->
<div class="relative w-full h-full bg-gray-600 border-x-orange-500 border-t-yellow-500 border-b-purple-900 border-8">
    <div class="absolute inset-0 bg-slate-400 angle-pointing-right">

    </div>

    <div class="absolute inset-0 flex flex-row">
        <!-- image -->
        <div class="flex w-1/2 h-full items-center justify-center">
            <div class="animate-rise-fade" style="clip-path: circle(20%);">
                <img src="../../assets/portrait.jpg" alt="portrait" class="scale-75 translate-x-5">
            </div>
        </div>

        <!-- about text -->
        <div class="flex w-1/2 h-full items-center justify-center overflow-hidden">
            <div class="w-2/3 h-2/3 overflow-y-auto">
                <span class="text-white font-bold font-mono text-2xl pr-4">
                    Hi! I’m Seraiah Kutai, a programmer from Pennsylvania, looking for new opportunities in the
                    software development field. I'm a 2022 graduate from Ursinus College, with a degree in computer
                    science and a minor in math. <br> <br>

                    While at Ursinus, I took on various roles and activities that helped me to grow as a programmer,
                    leader, and collaborator. As the president of the ACM club, I planned, promoted, and ran events like
                    hackathons. I helped other students get started on their creative ideas while also building up the
                    CS community at the college. At the same time, I enjoyed the opportunity to be a student worker at
                    the IT desk. Beyond restarting computers and fixing printers, I was responsible for engaging with
                    Dell tech support to get services for the school laptops. I would also replace some laptop parts and
                    train new tech support students to do the same. Beyond helping others deal with their hardware, I
                    got to help students fix their software while I was a CS tutor. I guided everyone from freshmen to
                    seniors to understand programming fundamentals, beat deadlines, and persevere with their major. <br> <br>

                    After Ursinus, I moved on to join SV Sports, where I was a full-stack software developer. I learned
                    to work with frameworks like Angular and .NET and improved my skills with tools and applications
                    like Azure Data Studio, Postman, VS Code, and GitHub. Since I worked on the internal portal, I would
                    regularly meet with other team members to get user requirements for my projects. Then I built and
                    tested new sections of the portal that were needed, making changes as reviews demanded. Meanwhile, I
                    would also serve as general IT, fixing printers, and solving general application issues. Beyond
                    regular tech work though, I’d also join in seasonal inventory counts, and volunteer to be part of
                    events like the MLK Basketball showcase at Souderton High School. <br> <br>

                    Beyond school and work, I continue to program on my own for fun. I am currently working on learning
                    to use Rust via the book, and am always open to learning something new in the math and CS world.
                    That all being said, I have my limits on how long I can stay out of the sun. I love sports and being
                    out in nature; and like with programming, I’m happy to try out just about anything. From personal
                    challenges like bouldering and disc golf to conventional sports like soccer and basketball, staying
                    active is hardly ever a struggle for me. I also enjoy traveling and taking advantage of
                    opportunities to serve other people in any way that I can. As a result, I like going on mission
                    trips with my church and will mention stocking a food pantry as a highlight of a trip to CA. <br> <br>

                    If the weather is forbidding, I’m also happy to stay home and watch a YouTube video, play an old
                    game on my PS3, or try out a new board game with some friends. I’m always happy to chat about the
                    design of games and systems, whether certain decisions were good or bad, and the logical
                    implications of trying out new rules and methods. Also, having tried out so many programming
                    languages I’ve developed my own opinions on them as well and am always happy to trade ideas with new
                    and old programmers alike. <br> <br>

                    Anyway, there is plenty more that I could say, but for now, I’d rather invite you to check out the
                    rest of my site, and then reach out to me whenever you are ready. I look forward to making impactful
                    ideas a reality.
                </span>
            </div>

        </div>
    </div>
</div>