<!-- background and border -->
<div class="relative w-full h-full bg-gray-600 border-x-orange-500 border-t-yellow-500 border-b-purple-900 border-8">
    <div class="absolute inset-0 bg-slate-400 angle-pointing-right">

    </div>

    <div class="absolute inset-0 flex flex-row">
        <!-- image -->
        <div class="flex w-1/2 h-full items-center justify-center">
            <div class="animate-rise-fade" style="clip-path: circle(20%);">
                <img src="../../assets/portrait.jpg" alt="portrait" class="scale-75 translate-x-5">
            </div>
        </div>

        <!-- about text -->
        <div class="flex w-1/2 h-full items-center justify-center overflow-hidden">
            <div class="w-2/3 h-2/3 overflow-y-auto">
                <span class="text-white font-bold font-mono text-2xl">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa?

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa? <br>

                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sapiente voluptates odit distinctio
                    mollitia vitae, excepturi quas commodi laboriosam sint et nihil consectetur reprehenderit! Maxime
                    eligendi assumenda atque quis culpa?
                </span>
            </div>

        </div>
    </div>
</div>