<!-- background and border -->
<div class="relative w-full h-full bg-gray-600 border-x-orange-500 border-t-yellow-500 border-b-purple-900 border-8">
    <div class="absolute inset-0 bg-slate-400 angle-pointing-right">

    </div>

    <div class="absolute inset-0 flex flex-row">
        <!-- image -->
        <div class="flex w-1/2 h-full items-center justify-center">
            <div class="animate-rise-fade" style="clip-path: circle(20%);">
                <img src="../../assets/portrait.jpg" alt="portrait" class="scale-75 translate-x-5">
            </div>
        </div>

        <!-- about text -->
        <div class="flex w-1/2 h-full items-center justify-center overflow-hidden">
            <div class="w-2/3 h-2/3 overflow-y-auto">
                <span class="text-white font-bold font-mono text-2xl pr-4">
                    Hi! I’m Seraiah Kutai, a programmer from Pennsylvania looking for new software development
                    opportunities. I graduated from Ursinus College in 2022 with a computer science degree and a minor
                    in math. 
                    <br> <br>

                    While at Ursinus, I took on various roles and activities that helped me to grow as a programmer,
                    leader, and collaborator. As the president of the ACM (Association for Computing Machinery) club, I
                    planned, promoted, and ran hackathons and regular club meetings. I helped other students begin
                    working on personal projects while also building up the computer science community at the college.
                    While I was a sophomore, the college employed me as a student worker at the IT desk. I enjoyed
                    tackling hardware and software issues for others and trained new tech support students to do the
                    same. Concurrently, during my junior year, I was a CS tutor. I guided first-year students and
                    seniors to understand programming fundamentals, beat deadlines, and persevere in their studies.
                    <br> <br>

                    After college, I joined SV Sports as a full-stack developer. I learned to work with frameworks like
                    Angular and .NET and improved my skills with tools and applications like Azure Data Studio, Postman,
                    VS Code, and GitHub. Since I mainly worked on the internal portal, I regularly met with other team
                    members to get user requirements for my projects. Then, I built and tested new modules, making
                    changes as reviews demanded. Meanwhile, I would also serve as general IT, fixing printers and
                    solving general application issues. Beyond regular tech work, though, I’d also join in seasonal
                    inventory counts and volunteer to be part of events like the MLK Basketball showcase at Souderton
                    High School.
                    <br> <br>

                    Beyond work and school, I continue to program independently for fun. I am currently working on
                    learning the Rust programming language, and am always open to learning something new in the math and
                    CS world. That all being said, I have my limits on how long I can stay indoors. I love sports and
                    being in nature, and like with programming, I’m happy to try out just about anything. I use personal
                    challenges like bouldering and disc golf and conventional sports like soccer and basketball to help
                    offset the less physical demands of a day at my desk. I also enjoy traveling and taking advantage of
                    opportunities to serve others in any way I can. As a result, I like going on mission trips with my
                    church and will mention stocking a food pantry as a highlight of a trip to California.
                    <br> <br>

                    If the weather is forbidding, I’m happy to stay home and watch a YouTube video, play an old game on
                    my PS3, or try out a new board game with friends. I’m always happy to chat about the design of games
                    and systems, whether certain decisions were good or bad, and the logical implications of trying out
                    new rules and methods. Also, having tried many programming languages, I’ve developed opinions on
                    some of them and am always happy to trade ideas with non, new, and old programmers alike.
                    <br> <br>

                    Anyway, there is plenty more that I could say, but for now, I’d like to invite you to check out the
                    rest of my site and reach out to me whenever you are ready. I look forward to making impactful ideas
                    a reality.
                </span>
            </div>

        </div>
    </div>
</div>