<nav class="navbar flex justify-between items-center p-2 bg-gradient-to-b from-gray-600 from-80% to-gray-700 text-white font-bold">
    <span class="text-2xl hover:cursor-pointer">
        <a href="/home">Seraiah M. Kutai</a>
    </span>

    <div>
        <ul class="navbar-links flex flex-row text-2xl space-x-8">
            <li class=" px-2 rounded-lg hover:bg-slate-100 hover:text-black hover:cursor-pointer " [ngClass]="{ ' text-black ': currentPage == '/home', ' text-white ': currentPage != '/home'}"><a href="/home">Home</a></li>
            <li class="px-2 rounded-lg hover:bg-slate-100 hover:text-black hover:cursor-pointer" [ngClass]="{ ' text-black ': currentPage == '/about', ' text-white ': currentPage != '/about'}"><a href="/about">About</a>
            </li>
            <li class="px-2 rounded-lg hover:bg-slate-100 hover:text-black hover:cursor-pointer" [ngClass]="{ ' text-black ': currentPage == '/showcase', ' text-white ': currentPage != '/showcase'}"><a
                    href="/showcase">Showcase</a></li>
            <li class="px-2 rounded-lg hover:bg-slate-100 hover:text-black hover:cursor-pointer" [ngClass]="{ ' text-black ': currentPage == '/contact', ' text-white ': currentPage != '/contact'}"><a
                    href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>
